[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
setuptools = "*"
wheel = "*"
twine = "*"
bump2version = "*"
rope = "*"
pyenchant = "<=1.6.6"
autopep8 = "*"
asynctest = "*"
colorama = "*"
unittest-xml-reporting = "*"
junit2html = "*"
coverage = "*"
Pillow = "*"
numpy = "*"
pygame = "*"
pexpect = "*"
humanize = "*"

[packages]
ConfigArgParse = "*"
pyubx2 = "*"
pynmea2 = "*"
Rx = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
structlog = "*"
PyYAML = "*"
frozendict = "*"
pyserial = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
